<app-header></app-header>

<div class="wrapper">
  <div class="page-header">
    <img class="path" src="assets/img/blob.png" />

    <img class="path2" src="assets/img/path2.png" />

    <img class="shapes triangle" src="assets/img/triunghiuri.png" />

    <img class="shapes wave" src="assets/img/waves.png" />

    <img class="shapes squares" src="assets/img/patrat.png" />

    <img class="shapes circle" src="assets/img/cercuri.png" />

    <div class="content-center">
      <div class="row row-grid justify-content-between align-items-center text-left">
        <div class="col-lg-6 col-md-6">
          <h1 class="text-white">
            Your donations, <br />

            <span class="text-white"> for the right purpose </span>
          </h1>
          <p class="text-white mb-3">
            Each <u>NFT corresponds to an NGO</u>. By buying an NFT, your giving the NGO you want, benefiting from
            your
            funds.<br />
            But there is more... To withdraw your funds, <u>NGOs need to upload a proof</u> of the use of your funds.
          </p>
          <div class="btn-wrapper mb-3">
            <p class="category text-success d-inline mr-1">
              <a class="btn btn-success btn-link btn-sm" href="javascript:void(0)" style="padding:0;">
                From 0.002 eth <i class="tim-icons icon-minimal-right"> </i>
              </a>
            </p>

          </div>
          <div class="btn-wrapper">
            <div class="button-container">
              <button class="btn btn-icon btn-simple btn-round btn-neutral mr-1" href="javascript:void(0)">
                <i class="fab fa-twitter"> </i>
              </button>
              <button class="btn btn-icon btn-simple btn-round btn-neutral" href="javascript:void(0)">
                <i class="fab fa-facebook"> </i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5">
          <img alt="Circle image" class="img-fluid" src="assets/img/etherum.png" />
        </div>
      </div>
    </div>
  </div>
  <section class="section section-lg">
    <section class="section">
      <img class="path" src="assets/img/path4.png" />

      <div class="container">
        <div class="row row-grid justify-content-between">
          <div class="col-md-5 mt-lg-5">
            <div class="row">
              <div class="col-lg-6 col-sm-12 px-2 py-2">
                <div class="card card-stats">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <img class="tim-icons icon-trophy text-warning" src="assets/img/ACLF.png" />
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">3,237</p>
                          <p></p>
                          <p class="card-category">Action contre la faim</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12 px-2 py-2">
                <div class="card card-stats upper bg-default">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <img class="tim-icons icon-coins text-white" src="assets/img/greenpeace.png" />
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">3,653</p>
                          <p></p>
                          <p class="card-category">Green peace</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-12 px-2 py-2">
                <div class="card card-stats">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <img class="tim-icons icon-gift-2 text-info" src="assets/img/sea_sheperd.png" />
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">593</p>
                          <p></p>
                          <p class="card-category">Sea Sheperd</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12 px-2 py-2">
                <div class="card card-stats">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                          <img class="tim-icons icon-credit-card text-success" src="assets/img/wwf.png">
                        </div>
                      </div>
                      <div class="col-7 col-md-8">
                        <div class="numbers">
                          <p class="card-title">10,783</p>
                          <p></p>
                          <p class="card-category">WWF</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="pl-md-5">
              <h1>
                Many options<br />

                To help our world
              </h1>
              <p>
                Ecology, wildlife, forests, children, hunger... Our world is facing a lot of challenges those days.
                Buying one of our NFT is a choice you make
                to <u>help people, to help the earth</u>.
              </p>
              <br />

              <p>
                <u>90% of the funds will be given to the NGO</u>. Buy minting, you also can specify the ideal use of
                the funds.
                NGO, when withdrawing, will have to provide a <u>proof for the use of your funds</u>.
              </p>
              <br />

              <a class="font-weight-bold text-info mt-5" href="javascript:void(0)">
                Show all <i class="tim-icons icon-minimal-right text-info"> </i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section class="section section-lg">
    <img class="path" src="assets/img/path4.png" />

    <img class="path2" src="assets/img/path5.png" />

    <img class="path3" src="assets/img/path2.png" />

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <h1 class="text-center">Your best benefit</h1>
          <div class="row row-grid justify-content-center">
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-primary">
                  <i class="tim-icons icon-money-coins"> </i>
                </div>
                <h4 class="info-title">Low Commission</h4>
                <hr class="line-primary" />

                <p>
                  Our only goal is to carry on offering collections like this one to help people help each other. The
                  low commission we take is only for this purpose.
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-warning">
                  <i class="tim-icons icon-chart-pie-36"> </i>
                </div>
                <h4 class="info-title">Transaction tracability</h4>
                <hr class="line-warning" />

                <p>
                  Thanks to our unique proof system. Funds will be withdrawed by NGO only if they provide concrete
                  proof of their usages.
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="info">
                <div class="icon icon-success">
                  <i class="tim-icons icon-single-02"> </i>
                </div>
                <h4 class="info-title">Verified NGO</h4>
                <hr class="line-success" />

                <p>
                  We're only working with serious NGOs and we always make sure that they use your donations in the
                  best way.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg section-safe">
    <img class="path" src="assets/img/path5.png" />

    <div class="container">
      <div class="row row-grid justify-content-between">
        <div class="col-md-5">
          <img class="img-fluid floating" src="assets/img/chester-wade.jpg" />

          <div class="card card-stats bg-danger">
            <div class="card-body">
              <div class="justify-content-center">
                <div class="numbers">
                  <p class="card-title">100%</p>
                  <p class="card-category text-white">Safe</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-stats bg-info">
            <div class="card-body">
              <div class="justify-content-center">
                <div class="numbers">
                  <p class="card-title">53 K</p>
                  <p class="card-category text-white">Satisfied customers</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-stats bg-default">
            <div class="card-body">
              <div class="justify-content-center">
                <div class="numbers">
                  <p class="card-title">56</p>
                  <p class="card-category text-white">NGO</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="px-md-5">
            <hr class="line-success" />

            <h3>Awesome features</h3>
            <p>
              By connecting your wallet to our page, you'll be able to see your NFTs.
              You'll also be able to see the transaction history and, eventually, the proof from the NGO of their
              activities
            </p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div class="icon icon-success mb-2">
                    <i class="tim-icons icon-vector"> </i>
                  </div>
                  <div class="ml-3">
                    <h6>Carefully crafted components</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div class="icon icon-success mb-2">
                    <i class="tim-icons icon-tap-02"> </i>
                  </div>
                  <div class="ml-3">
                    <h6>Ergonomic application</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div class="icon icon-success mb-2">
                    <i class="tim-icons icon-single-02"> </i>
                  </div>
                  <div class="ml-3">
                    <h6>Super friendly support team</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-lg section-coins">
    <img class="path" src="assets/img/path3.png" />

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <hr class="line-info" />

          <h1>
            Our current collection<br />
            <h3>Choose the NFT <span class="text-info"> that represents the NGO you wanna help </span></h3>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img class="img-center img-fluid" src="assets/img/wwf.png"
                style="height:220px !important; width: auto !important;" />
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">WWF NFT</h4>
                  <span> Price </span>
                  <hr class="line-primary" />
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item"><b>Kitty</b>: 0.002 eth</li>
                  <li class="list-group-item"><b>Ocolot</b>: 0.004 eth</li>
                  <li class="list-group-item"><b>Lion</b>: 0.01 eth</li>
                </ul>
              </div>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-primary btn-simple">Buy</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img class="img-center img-fluid" src="assets/img/sea_sheperd.png"
                style="height:220px !important; width: auto !important;" />
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">Sea Sheperd NFT</h4>
                  <span> Price </span>
                  <hr class="line-success" />
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item"><b>ClownFish</b>: 0.002 eth</li>
                  <li class="list-group-item"><b>Dolphin</b>: 0.004 eth</li>
                  <li class="list-group-item"><b>BlueWhale</b>: 0.01 eth</li>
                </ul>
              </div>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-success btn-simple">Buy</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img class="img-center img-fluid" src="assets/img/greenpeace.png"
                style="height:220px !important; width: auto !important;" />
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">GreenPeace NFT</h4>
                  <span> Price </span>
                  <hr class="line-info" />
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item"><b>Avocado</b>: 0.002 eth</li>
                  <li class="list-group-item"><b>Oak</b>: 0.004 eth</li>
                  <li class="list-group-item"><b>Sequoia</b>: 0.01 eth</li>
                </ul>
              </div>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-info btn-simple">Buy</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</div>
<app-footer></app-footer>